<a href="https://colab.research.google.com/github/yeoonju/python300_book/blob/main/001~020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 005 print 탭과 줄바꿈
print("안녕하세요.\n만나서\t\t반갑습니다.")

안녕하세요.
만나서		반갑습니다.

### 011 변수 사용하기 

삼성전자라는 변수로 50,000원을 바인딩해보세요. 삼성전자 주식 10주를 보유하고 있을 때 총 평가금액을 출력하세요.

In [4]:
삼성전자 = 50000
총평가금액 = 삼성전자 * 10
print(총평가금액)

500000

###013 문자열 출력

변수 s와 t에는 각각 문자열이 바인딩 되어있습니다.

In [13]:
s = "hello"
t = "python"
print(s+"!",t)

hello! python

### 015 type 함수

type() 함수는 데이터 타입을 판별합니다. 변수 a에는 128 숫자가 바인딩돼 있어 type 함수가 int (정수)형임을 알려줍니다.

In [14]:
a = "132"
print(type(a))

<class 'str'>

### 016 문자열을 정수로 변환

문자열 '720'를 정수형으로 변환해보세요.

In [16]:
num_str = "720"
num_int = int(num_str)
print(num_int,type(num_int))

720 <class 'int'>

### 017 정수를 문자열 100으로 변환

정수 100을 문자열 '100'으로 변환해보세요.

In [17]:
num = 100
num_str = str(num)
print(num_str,type(num_str))

100 <class 'str'>

### 018 문자열을 실수로 변환

문자열 "15.79"를 실수(float) 타입으로 변환해보세요.

In [18]:
str = "15.79"
str_float = float(str)
print(str_float,type(str_float))

15.79 <class 'float'>

### 019 문자열을 정수로 변환

year라는 변수가 문자열 타입의 연도를 바인딩하고 있습니다. 이를 정수로 변환한 후 최근 3년의 연도를 화면에 출력해보세요.

In [21]:
year = "2020"
year_int = int(year)
print(year_int-3,year_int-2,year_int-1)

2017 2018 2019

### 020 파이썬 계산
에이컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있습니다. 총 금액은 계산한 후 이를 화면에 출력해보세요. (변수사용하기)

In [25]:
airconditioner = 48584
calculator = airconditioner * 36
print(calculator)

1749024