<a href="https://colab.research.google.com/github/yeoonju/python300_book/blob/main/021_~_050_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 021 문자열 인덱싱

letters가 바인딩하는 문자열에서 첫번째와 세번째 문자를 출력하세요.

In [6]:
letters = 'python'
print(letters[0],letters[2])

p t

## 022 문자열 슬라이싱

자동차 번호가 다음과 같을 때 뒤에 4자리만 출력하세요.

In [11]:
license_plate = "24가 2210"
print(license_plate[4:8])
print(license_plate[-4:])

2210
2210

## 023 문자열 인덱싱

아래의 문자열에서 '홀' 만 출력하세요.

In [21]:
string = "홀짝홀짝홀짝"
print(string[::2])
print(string[1::2])

홀홀홀
짝짝짝

## 024 문자열 슬라이싱

문자열을 거꾸로 뒤집어 출력하세요.

In [91]:
string = "PYTHON"
print(string[::-1])

print("".join(reversed(string)))
str(reversed(string))

NOHTYP
NOHTYP

'<reversed object at 0x7fb26e207390>'

## 025 문자열 치환

아래의 전화번호에서 하이푼 ('-')을 제거하고 출력하세요.

In [45]:
phone_number = "010-1111-2222"
print(phone_number.replace("-"," "))

010 1111 2222

## 026 문자열 다루기

모두 붙여 출력하세요.

In [48]:
phone_number = "010-1111-2222"
pn = phone_number.replace("-","")
print(pn)

01011112222

url 에 저장된 웹 페이지 주소에서 도메인을 출력하세요.

In [53]:
url = "http://sharebook.kr"
domain = url[-2:]
print(domain)
domain = url.split('.')
do = domain[-1]
print(do)

kr
kr

## 029 replace 메서드

아래 문자열에서 소문자 'a'를 대문자 'A'로 변경하세요.**굵은 텍스트**

In [54]:
string = 'abcdfe2a354a32a'
cha = string.replace('a','A')
print(cha)

Abcdfe2A354A32A

## 033 문자열 곱하기

화면에 '-'를 80개 출력하세요.

In [55]:
print("-"*80)

--------------------------------------------------------------------------------

## 034 문자열 곱하기

변수에 다음과 같은 문자열이 바인딩되어 있습니다.

In [59]:
t1 = 'python'
t2 = 'java'
t3 = t1 + ' ' + t2 + ' '
print(t3*4)

python java python java python java python java

## 035 문자열 출력

변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때 % formatting을 사용해서 다음과 같이 출력해보세요.

In [73]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print("이름:",name1, "나이:",age1)
print("이름:",name2, "나이:",age2)
print("\n")
print("이름: %s 나이: %d" % (name1, age1)) # % formatting 방식 이용해서 
print("이름: %s 나이: %d" % (name2, age2))
print("\n")
print('이름: {} 나이: {}'.format(name1,age1)) # format() method를 이용 
print('이름: {} 나이: {}'.format(name2,age2))
print("\n")
result1 = f'이름: {name1} 나이: {age1}'
result2 = f'이름: {name1} 나이: {age1}'
print(result1)
print(result2)

이름: 김민수 나이: 10
이름: 이철희 나이: 13


이름: 김민수 나이: 10
이름: 이철희 나이: 13


이름: 김민수 나이: 10
이름: 이철희 나이: 13


이름: 김민수 나이: 10
이름: 김민수 나이: 10

## 038 컴마 제거하기

삼성전자의 상장주식수가 다음과 같습니다. 컴마를 제거한 후 이를 정수 타입으로 변환해보세요.

In [80]:
a = "5,969,782,550"
ar = a.replace(",","")
ari = int(ar)
print(ari, type(ari))

5969782550 <class 'int'>

## 039 문자열 슬라이싱

다음과 같은 문자열에서 '2020/03'만 출력하세요.

In [82]:
ye = "2020/03(E) (IFRS연결)"
yes = ye[:7]
print(yes)

2020/03

## 040 strip 메서드

문자열의 좌우의 공백이 있을 때 이를 제거해보세요.

In [85]:
data = "   삼성전자    "
datare = data.replace(" ","")
print(datare)

data1 = data.strip()
print(data1)

삼성전자
삼성전자

## 041 upper 메서드

다음과 같은 문자열이 있을 때 이를 대문자 BTC_KRW로 변경하세요.

In [89]:
ticker = "btc_krw"
tu = ticker.upper()
print(tu)

BTC_KRW

## 042 lower 메서드

다음과 같은 문자열이 있을 때 이를 소문자 btc_krw로 변경하세요.

In [92]:
ticker = "BTC_KRW"
tl = ticker.lower()
print(tl)

btc_krw

## 043 capitalize 메서드

문자열 'hello'가 있을 때 이를 'Hello'로 변경해보세요.

In [100]:
string = 'hello'
sr = string.replace('h','H')
sr
sc = string.capitalize()
sc

'Hello'

## 044 endswith 메서드

파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx'로 끝나는지 확인해보세요.

In [101]:
file_name = "보고서.xlsx"
file_name.endswith("xlsx")

True

## 046 startswith 메서드

파일 이름이 문자열로 저장되어 있을 때 startswith 메서드를 사용해서 파일 이름이 '2020'로 시작하는지 확인해보세요.

In [105]:
file_name = "2020_보고서.xlsx"
file_name.startswith("2020")

True

## 047 split 메서드

다음과 같은 문자열이 있을 때 공백을 기준으로 문자열을 나눠보세요.

In [106]:
a = "hello world"
a.split()

['hello', 'world']

## 048 split 메서드

다음과 같이 문자열이 있을 때 btc와 krw로 나눠보세요.

In [108]:
ticker = "btc_krw"
ticker.split("_")

['btc', 'krw']

## 049 split 메서드

다음과 같이 날짜를 표현하는 문자열이 있을 때 연도, 월, 일로 나눠보세요.

In [109]:
date = "2020-05-01"
date.split("-")

['2020', '05', '01']

## 050 rstrip 메서드

문자열의 오른쪽에 공백이 있을 때 이를 제거해보세요.

In [114]:
data = "039490     "
data = data.rstrip()
data

'039490'