<a href="https://colab.research.google.com/github/yeoonju/python300_book/blob/main/051_~_070.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 051 리스트 생성

In [50]:
movie_rank = ['닥터스트레인지','스플릿','럭키']

## 052 리스트에 원소 추가

051의 movie_rank 리스트에 "배트맨"을 추가하라.

In [51]:
movie_rank = ['닥터스트레인지','스플릿','럭키']
movie_rank.append('배트맨')
print(movie_rank)

['닥터스트레인지', '스플릿', '럭키', '배트맨']

## 053

movie_rank 리스트에는 아래와 같이 네 개의 영화 제목이 바인딩되어 있다. "슈퍼맨"을 "닥터 스트레인지"와 "스플릿" 사이에 추가하라.

In [13]:
movie_rank = ['닥터스트레인지', '스플릿', '럭키', '배트맨']
movie_rank.insert(1,'슈퍼맨')
print(movie_rank)

['닥터스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

## 054

movie_rank 리스트에서 '럭키'를 삭제하라.

In [15]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
del movie_rank[3]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

## 055

movie_rank 리스트에서 '스플릿' 과 '배트맨'을 를 삭제하라.

In [18]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
del movie_rank[2:]
print(movie_rank)

movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
del movie_rank[2]
del movie_rank[2]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨']
['닥터 스트레인지', '슈퍼맨']

## 056

lang1과 lang2 리스트가 있을 때 lang1과 lang2의 원소를 모두 갖고 있는 langs 리스트를 만들어라.

In [20]:
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
langs = lang1 + lang2
print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

## 057

다음 리스트에서 최댓값과 최솟값을 출력하라. (힌트: min(), max() 함수 사용)

In [ ]:
nums = [1, 2, 3, 4, 5, 6, 7]
# print("max: ", max(nums))
# print("min: ", min(nums))

## 058

다음 리스트의 합을 출력하라.

In [30]:
nums = [1, 2, 3, 4, 5]
print(sum(nums))

15

## 059

다음 리스트에 저장된 데이터의 개수를 화면에 구하하라.

In [31]:
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "쏘세지", "라면", "팥빙수", "김치전"]
print(len(cook))

12

## 060

다음 리스트의 평균을 출력하라.

In [33]:
nums = [1, 2, 3, 4, 5]
sn = sum(nums) 
ln = len(nums)
ave = sn/ln
print(ave)

3.0

## 061

price 변수에는 날짜와 종가 정보가 저장돼 있다. 날짜 정보를 제외하고 가격 정보만을 출력하라. (힌트 : 슬라이싱)

In [35]:
price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1:])

[100, 130, 140, 150, 160, 170]

## 062  063

슬라이싱을 사용해서 짝수, 홀수만 출력하라.

In [37]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[::2])
print(nums[2::2]) # 추가
print(nums[1::2])

[1, 3, 5, 7, 9]
[3, 5, 7, 9]
[2, 4, 6, 8, 10]

## 064

슬라이싱을 사용해서 리스트의 숫자를 역 방향으로 출력하라.

In [38]:
nums = [1, 2, 3, 4, 5]
print(nums[::-1])

[5, 4, 3, 2, 1]

## 065
interest 리스트에는 아래의 데이터가 바인딩되어 있다.
interest 리스트를 사용하여 아래와 같이 화면에 출력하라.

In [40]:
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0],interest[2])

삼성전자 Naver

## 066~068 join 메서드

In [43]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(" ".join(interest))
print("/".join(interest))
print("\n".join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우
삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우
삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

## 069 문자열 split 메서드

회사 이름이 슬래시 ('/')로 구분되어 하나의 문자열로 저장되어 있다.
이를 interest 이름의 리스트로 분리 저장하라.

In [46]:
string = "삼성전자/LG전자/Naver"
interest = string.split("/")
print(interest)

['삼성전자', 'LG전자', 'Naver']

## 070 리스트 정렬

리스트에 있는 값을 오름차순으로 정렬하세요.

In [49]:
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)

data2 = sorted(data)
print(data2)

[1, 2, 3, 4, 5, 9, 10]
[1, 2, 3, 4, 5, 9, 10]