<a href="https://colab.research.google.com/github/yeoonju/python300_book/blob/main/071_~_080.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tuple

element 값을 변경할 수 없음 

괄호없이도 동작

## 071

my_variable 이름의 비어있는 튜플을 만들라.

In [2]:
my_variable = ()
print(type(my_variable))

<class 'tuple'>

## 072

2016년 11월 영화 예매 순위 기준 top3는 다음과 같다. 영화 제목을 movie_rank 이름의 튜플에 저장하라. (순위 정보는 저장하지 않는다.)

In [3]:
movie_rank = ('닥터 스트레인지', '스플릿', '럭키')

## 073

숫자 1 이 저장된 튜플을 생성하라.

In [5]:
a =(1)
print(type(a))

a =(1,)
print(type(a))

<class 'int'>
<class 'tuple'>

## 076

변수 t에는 아래와 같은 값이 저장되어 있다. 변수 t가 ('A', 'b', 'c') 튜플을 가리키도록 수정 하라.

In [10]:
t = ('a', 'b', 'c')

# t[0] = 'A' # 투플은 값 변경 불가

t = ('A', 'b', 'c')

## 077

다음 튜플을 리스트로 변환하라.

In [11]:
interest = ('삼성전자', 'LG전자', 'SK Hynix')
list(interest)

['삼성전자', 'LG전자', 'SK Hynix']

## 080 range 함수

1 부터 99까지의 정수 중 짝수만 저장된 튜플을 생성하라.

In [18]:
data = tuple(range(2,100,2))
print(data)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)