<a href="https://colab.research.google.com/github/yeoonju/python300_book/blob/main/081_~_100.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 081 별 표현식

In [ ]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*valid_score, _, _= scores
print(*valid_score)

8.8 8.9 8.7 9.2 9.3 9.7 9.9 9.5

## 084 비어있는 딕셔너리 

temp 이름의 비어있는 딕셔너리를 만들라.

In [ ]:
temp = {}

## 085

다음 아이스크림 이름과 희망 가격을 딕셔너리로 구성하라.

In [ ]:
icecream = {'메로나':1000, '폴라포':1200, '빵빠레':1800}
print(icecream)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

## 086

085 번의 딕셔너리에 아래 아이스크림 가격정보를 추가하라.

In [ ]:
icecream = {'메로나':1000, '폴라포':1200, '빵빠레':1800}
icecream['죠스바'] = 1200
icecream['월드콘'] = 1500
print(icecream)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

## 087
다음 딕셔너리를 사용하여 메로나 가격을 출력하라.

In [ ]:
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
print('메로나 가격 : ', ice['메로나'])

메로나 가격 :  1000

## 088

다음 딕셔너리에서 메로나의 가격을 1300으로 수정하라.

In [ ]:
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
ice['메로나'] = 1300

## 089
다음 딕셔너리에서 메로나를 삭제하라.

In [ ]:
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
del ice['메로나']
print(ice)

{'폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

## 091 딕셔너리 생성

아래의 표에서, 아이스크림 이름을 키값으로, (가격, 재고) 리스트를 딕셔너리의 값으로 저장하라. 딕셔너리의 이름은 inventory로 한다.

In [ ]:
inventory = {'메로나':[300,20],
             '비비빅':[400, 3], 
             '죠스바':[250,100]}
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

## 092 딕셔너리 인덱싱

inventory 딕셔너리에서 메로나의 가격을 화면에 출력하라.

In [ ]:
print(inventory['메로나'][0], '원')

300 원

## 094 딕셔너리 추가

inventory 딕셔너리에 아래 데이터를 추가하라.

In [ ]:
inventory['월드콘'] = [500,7]
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

## 095 딕셔너리 keys() values() 메서드

다음의 딕셔너리로부터 key 값으로만 구성된 리스트를 생성하라.

In [ ]:
icecream = {'탱크보이': 1200, 
            '폴라포': 1200, 
            '빵빠레': 1800, 
            '월드콘': 1500, 
            '메로나': 1000}

# print(icecream.keys())
print(list(icecream.keys()))
# print(icecream.values())
print(list(icecream.values()))

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']
[1200, 1200, 1800, 1500, 1000]

## 097 딕셔너리 values() 메서드
icecream 딕셔너리에서 아이스크림 판매 금액의 총합을 출력하라.

In [ ]:
icecream = {'탱크보이': 1200, 
            '폴라포': 1200, 
            '빵빠레': 1800, 
            '월드콘': 1500, 
            '메로나': 1000}

In [ ]:
ice = sum(icecream.values())
print(ice)

6700

## 098 딕셔너리 update 메서드
아래의 new_product 딕셔너리를 다음 icecream 딕셔너리에 추가하라.

In [ ]:
icecream = {'탱크보이': 1200, 
            '폴라포': 1200, 
            '빵빠레': 1800, 
            '월드콘': 1500, 
            '메로나': 1000}

new_product = {'팥빙수':2700, 
               '아맛나':1000}

icecream.update(new_product)
print(icecream)

{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}

## 099 zip과 dict
아래 두 개의 튜플을 하나의 딕셔너리로 변환하라. keys를 키로, vals를 값으로 result 이름의 딕셔너리로 저장한다.

In [ ]:
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)

result = {}
result['apple'] = 300
result['pear'] = 250
result['peach'] = 400
print(result)

result = dict(zip(keys,vals))
print(result)

{'apple': 300, 'pear': 250, 'peach': 400}
{'apple': 300, 'pear': 250, 'peach': 400}

## 100 zip과 dict
date와 close_price 두 개의 리스트를 close_table 이름의 딕셔너리로 생성하라.

In [ ]:
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]

close_table = dict(zip(date, close_price))
print(close_table)

{'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}